<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Locais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map" style="width: 100%; height:200px;"></div>
  <ion-list>
    <ion-item>
      <h3>Pesquisar um local</h3>
    </ion-item>
    <ion-item>
      <ion-input #input label="Pesquisa" labelPlacement="stacked" placeholder="Digite aqui" type="text"></ion-input>
      <ion-button (click)="speakStart(input.value)">
        <ion-icon name="mic"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button (click)="search(input.value)">Buscar</ion-button>
      <ion-button (click)="clear(input)" color="warning">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>
  <ion-list *ngFor="let item of result">
    <ion-item>
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-subtitle>Acesse: {{item.poi!.url}}</ion-card-subtitle>
          <ion-card-title>{{item.poi!.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Endereço: {{item.address!.streetName}}, {{item.address!.municipality}},
          {{item.address!.municipalitySubdivision}},
          {{item.address!.countrySubdivision}}
        </ion-card-content>
        <ion-button (click)="locateResult(item)" expand="block" fill="clear" shape="round">
          Locate
        </ion-button>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>