<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Pesquisas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm">
    <ion-list>
      <ion-item>
        <h3>Pesquisar no Google</h3>
      </ion-item>
      <ion-item>
        <ion-input #input label="Pesquisa" labelPlacement="stacked" type="text"
        placeholder="Digite aqui"></ion-input>
        <ion-button (click)="speakStart(input.value)">
          <ion-icon name="mic"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="writeSecretFile(input.value)">
          Buscar
        </ion-button>
        <ion-button (click)="clear(input)" color="warning">
          <ion-icon name="trash" ></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngFor="let dado of dadosApiGoogle; let index as index">
        <ion-text>
          <a [href]="dado.link">{{dado.title}}</a>
        </ion-text>
      </ion-item>
    </ion-list>
  </form>
</ion-content>