<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Pesquisas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm">
    <ion-list>
      <ion-item>
        <ion-input #input label="Pesquisa" labelPlacement="floating" type="text"></ion-input>
        <ion-button (click)="speakStart(input.value)">
          <ion-icon name="mic"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="writeSecretFile(input.value)" shape="round">
          Buscar
        </ion-button>
      </ion-item>
      <!-- <ion-item>
        <ion-button (click)="googleResults(input.value)" shape="round">
          Consulta google
        </ion-button>
      </ion-item> -->
      <ion-item *ngFor="let dado of dadosApiGoogle; let index as index">
        <ion-text>
          <a [href]="dado.link">{{dado.title}}</a>
        </ion-text>
      </ion-item>
    </ion-list>
  </form>
</ion-content>