<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm">
    <ion-list>
      <ion-item>
        <ion-input label="Dados" labelPlacement="floating" #text type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="writeSecretFile(text.value)" expand="block" fill="clear" shape="round">
          Gravar
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-text color="primary" *ngFor="let dado of dadosGravados">
          {{dado}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-button [disabled]="!form.valid" (click)="readSecretFile()" expand="block" fill="clear" shape="round">
          Ler
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>