<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Histórico de pesquisas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-text>
        Últimas pesquisas
      </ion-text>
    </ion-item>
    <ion-item *ngFor="let dado of dadosGravados">
      <ion-text>
        {{dado}}
      </ion-text>
      <!-- <ion-button (click)="updateChart(dado)">
        Update chart
      </ion-button> -->
    </ion-item>
    <ion-item>
      <ion-text>
        Gráfico de pesquisas
      </ion-text>
    </ion-item>
    <ion-item>

      <canvas id="myChart"></canvas>

    </ion-item>
  </ion-list>
  <div>
    <canvas id="myChart"></canvas>
  </div>
</ion-content>
